@use "mixins";
// Использую инклюды
*,
*::after,
*::before {
    @include mixins.reset;
    box-sizing: border-box;
}

body {
    @include mixins.roboto-family;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}