// Миксины

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

@mixin roboto-family {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif; 
}