@use "../utils";

.header__wrapper {
    @include utils.wrapper;
}

.navigation__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    list-style-type: none;
}

.navigation__item {
    place-self: center;
}

.navigation__link {
    text-decoration: none;
    color: black;
    font-size: 18px;

// Использую "Вложенные правила"

    &--redText {
        color: variables.$red; //  Использую "Переменные и их вставка"
        font-size: 24px;
    }
}